<h2><b><i><%= "Average Time of all the employees #{@average_time}" %></i></b></h2> 

</br><h2><b><i><%= "The Time when you enter in office usually around .. #{@all_user_max_arrival_time}"%></i></b></h2>
